@using ServiceLayer.ProductService.ProductDto
@model ProductListDto

<div class="col-sm-3">
    <div class="card my-3">
        <img class="card-img-top" src="~/Images/@Model.ImageName">
        <div class="card-body">
            <h3 class="card-title font-weight-bolder">@Model.Brand</h3>
            <p class="card-text"><span class="font-weight-bolder">Model: </span>@Model.Model</p>
            <p class="card-text"><span class="font-weight-bolder">Price: </span>@Model.Price DKK</p>
        </div>
        <div class="card-footer bg-farve-sort form-inline justify-content-center">
            <a class="btn btn-outline-primary mr-2" asp-page="./Detail" asp-route-ProductID="@Model.ProductID">
                <i class="fas fa-list-ul"></i>
            </a>
            <a class="btn btn-outline-primary mr-2" asp-page="./Edit" asp-route-ProductID="@Model.ProductID">
                <i class="far fa-edit"></i>
            </a>
            <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-ProductID="@Model.ProductID">
                <i class="far fa-trash-alt"></i>
            </a>
        </div>
    </div>
</div>