@page "{ProductID:int}"

@model WebUI.Pages.EShops.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<div class="bg-farve-sort mb-2">
    <h1 class="display-4">Details for product with ID: @Model.Product.ProductID</h1>
</div>

<div>
    <img src="~/Images/@Model.Product.ImageName" alt="Alternate Text" class="img-thumbnail my-4" />
</div>

<div>
    <h2>@Model.Product.Brand</h2>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <h5 class="font-weight-bolder">ID</h5>
        </div>
        <div class="col-sm-9">
            @Model.Product.ProductID
        </div>
        <div class="col-sm-3">
            <h5 class="font-weight-bolder">Model</h5>
        </div>
        <div class="col-sm-9">
            <h5>@Model.Product.Model</h5>
        </div>
        <div class="col-sm-3">
            <h5 class="font-weight-bolder">Price</h5>
        </div>
        <div class="col-sm-9">
            <h5>@Model.Product.Price DKK</h5>
        </div>
        <div class="col-sm-3">
            <h5 class="font-weight-bolder">Date</h5>
        </div>
        <div class="col-sm-9">
            <h5>@Model.Product.Year</h5>
        </div>        
        <div class="col-sm-3">
            <h5 class="font-weight-bolder">Storage</h5>
        </div>
        <div class="col-sm-9">
            <h5>@Model.Product.Storage GB</h5>
        </div>        
        <div class="col-sm-3">
            <h5 class="font-weight-bolder">Material frame type</h5>
        </div>
        <div class="col-sm-9">
            <h5>@Model.Product.MaterialFrameType</h5>
        </div>        
        <div class="col-sm-3">
            <h5 class="font-weight-bolder">Description</h5>
        </div>
        <div class="col-sm-9">
            <h5>@Model.Product.Description</h5>
        </div>
    </div>
</div>
<br />

<div>
    <a class="btn btn-primary" asp-page="./List"><i class="fas fa-arrow-left mr-2"></i>Go back to list</a>
</div>